<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
    <title>{% block title %}Gestion Hospitalaria{% endblock %}</title>
</head>


<body>


<div class="container-fluid p-0"></div>
    {% block sidebar %}
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="/">Gestion Hospitalaria</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <!--- Menu del usuario registrado --->
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Bienvenido,
                        {{ user.get_first_name }}</a>
                    </li>
                    {% if auth %}
                        <li class="nav-item">
                            <a class="nav-link active" href="/admin/">Admin</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Pacientes
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/signup/paciente">Registrar</a>
                                <a class="dropdown-item" href="#">Modificar</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/pacientes/">Listar</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Medicos
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/signup/medico">Registrar</a>
                                <a class="dropdown-item" href="#">Modificar</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Listar</a>
                            </div>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Historias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'logout'%}?next={{request.path}}">Logout</a>
                    </li>
                {% else %}

                <!--- Menu del usuario no registrado --->
                <li class="nav-item">
                    <a class="nav-link " href="/accounts/login">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% endblock %}
</div>

<div class="container">
    <!--- un template que tenga extend va a entrar aca ---> 
    {% block content %}{% endblock %}
</div>

<!--- Bloque para paginacion--->
{% block pagination %}
  {% if is_paginated %}
      <div class="pagination" style="display: list-item">
          <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
              <span class="page-current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
              {% endif %}
          </span>
      </div>
  {% endif %}
{% endblock %}

</div>



    
</body>
</html>