<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
    <title>{% block title %}Gestion Hospitalaria{% endblock %}</title>
</head>


<body>

<div class="d-flex flex-row bd-highlight mb-3">
<div class="p-2 bd-highlight">
    {% block sidebar %}
    <ul class="nav flex-column">
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Bienvenido, {{ user.get_username }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'logout'%}">Salir</a>
            </li>   
        {% else %}
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'login'%}">Ingresar</a>
            </li>  
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'signup'%}">Registrarse</a>
            </li>  
        {% endif %} 
        <li class="nav-item">
            <a class="nav-link active" href="#">Noticias</a>
        </li>
    </ul>
    {% endblock %}
</div> 
    

    <!--- un template que tenga extend va a entrar aca ---> 
<div class="p-2 bd-highlight" id="content"> 
    {% block content %}{% endblock %}
</div>
</div>

    
</body>
</html>