{% extends "baseTemplate.html" %}
<!--jquary import
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">

</script>-->

<title>{% block title %}Crear turno{% endblock %}</title>


{% block content %}

<section id="hero" class="d-flex align-items-center" style="position: unset; ">
    <div class="container">
      <h1>Turnos</h1>
      <h2>Ingrese los datos correspondientes al nuevo turno</h2>
    </div>
</section>

<main id="main">
<section id="appointment" class="appointment section-bg" style="padding: 3%;">
<section id="why-us" class="why-us" style="all: inherit;padding: 0">
<div class="container" style="inline-size: fit-content; text-align: center" >
<div class="icon-boxes">
<div class="icon-box">

<form method="GET" autocomplete="off" action="{% url 'create_turno_4' %}" > 
    
    <div class="section-title" style="padding-bottom: 0;">
        <h2>Datos del turno</h2>
    </div>  
    {% if lista_pacientes %}
        {% if user.is_superuser %} <!-- o si es secretario-->
        <div class="form-group">
            <label for="id_paciente_name">Seleccionar paciente para ser atendido</label>
            <select class="form-control" id="id_paciente" name="dni" required="" >
                <option value="" selected disabled hidden>Elija un paciente</option>
                {% for paciente in lista_pacientes %}
                    <option value="{{ paciente.dni }}"> {{ paciente.user.first_name }} {{ paciente.user.last_name }} DNI:{{ paciente.dni }} </option>
                {% endfor %}
            </select>
        </div>
        {% else %}
            {% for paciente in lista_pacientes %}
                {% if paciente.user == user %}
                    <div class="form-group">
                        <input type="hidden" required="" class="form-control" value="{{ paciente.dni }}" name="dni" id="id_paciente">
                    </div>
                {% endif %}
                    
            {% endfor %}

        {% endif %}
        <label for="id_date">Seleccione una fecha para el turno</label>
        <div class="form-group">
            <input type="date" required="" placeholder="Fecha" class="form-control " name="date" id="id_date">
        </div>

        <div class="form-group">
            <input type="hidden" name="especialidad" value="{{ especialidad.name }}" />
        </div>

        <div class="form-group">
            <input type="hidden" name="matricula" value="{{ doctor.matricula }}" />
        </div>

        <p></p>
        <div class="text-center">
            <button style="background: #1977cc; border: 0; padding: 10px 35px; color: #fff; transition: 0.4s; border-radius: 50px; " onmouseover="this.style.backgroundColor='#1c84e3'" onmouseout="this.style.backgroundColor='#1977cc'" onclick="history.back()">Volver</button>
            <button type="submit" style="background: #1977cc; border: 0; padding: 10px 35px; color: #fff; transition: 0.4s; border-radius: 50px; " onmouseover="this.style.backgroundColor='#1c84e3'" onmouseout="this.style.backgroundColor='#1977cc'">Verificar disponibilidad</button>            
        </div>
   
    {% else %}

    <small id="tipo_doctorHelpBlock" class="form-text text-muted">
        <ul>
            <li>No existen pacientes disponibles</li>
        </ul>
    </small>
    
    {% endif %}
        

</form>


</div>
</div>
</div>
</section>
</section>
</main>
{% endblock %}