{% extends "baseTemplate.html" %}

<title>{% block title %}Estudio{% endblock %}</title>


{% block content %}


<section id="hero" class="d-flex align-items-center" style="position: unset; ">
  <div class="container">
    <h1>Historia Médica</h1>
    <h2>Detalles del estudio.</h2>
  </div>
</section>

<main id="main">
<section id="appointment" class="appointment section-bg" style="padding: 3%;">
<section id="why-us" class="why-us" style="all: inherit;padding: 0">
<div class="container" style="text-align: center;padding: 1% 10%" " >
<div class="icon-boxes">
  
<div class="icon-box" style="padding: 10px;margin: 25px 0px 25px 0px;">
  <h1> <strong>{{ estudio.tipo }} </strong>
  {% if perms.appGestionHospitalaria.view_paciente %}
    <a class="btn btn-light" style="margin: 10px;" data-toggle="modal" data-target="#myModalEstudio">Editar</a></h1>
  {% endif %}
</div>

<div class="icon-box" style="padding: 10px;margin: 25px 0px 25px 0px;">

    <h3><strong>Datos</strong></h3>
    <hr>
  <p><strong>Paciente:</strong> {{ estudio.paciente }} --
  <strong>Médico:</strong> {{ estudio.doctor }} --
   <strong>Dia:</strong> {{estudio.turno.date}} --
  <strong>Hora:</strong> {{estudio.turno.timeFrom|time:"H:i"}}</p>
</div>

{% if perms.appGestionHospitalaria.view_paciente %}
<div class="icon-box" style="padding: 10px; margin: 25px 0px 25px 0px;">
    <h3><strong>Diagnostico</strong></h3>
    <hr>
    <textarea style="width: inherit;height: 190px" disabled>{{estudio.diagnostic}}</textarea>

<a class="btn btn-success" style="margin: 10px;color: #fff;" data-toggle="modal" data-target="#myModalDiagnostic">Modificar</a>
</div>
{% endif %}

<div class="icon-box" style="padding: 10px; margin: 25px 0px 25px 0px;">
    <h3><strong>Comentarios</strong></h3>
    <hr>
    <textarea style="width: inherit;height: 190px" disabled>{{estudio.comments}}</textarea>
    {% if perms.appGestionHospitalaria.view_paciente %}
     
     <a class="btn btn-success" style="margin: 10px;color: #fff;" data-toggle="modal" data-target="#myModalComments">Modificar</a>
    {% endif %}
</div>



<div class="icon-box " style="padding: 10px; margin: 25px 0px 25px 0px;">

    <h3><strong>Adjuntos</strong></h3>
<hr>
<div class="container border">

<div class="row">
    {% for file in files %} 
      <div class="col-lg-3" style="padding: 7px">
        <div class="icon-box" style="width: fit-content;background-color: #e9ecef">
          <strong>{{ file }}</strong>
          </p><p>
          <a class="btn btn-secondary" href="{{ file.file.url }}" download>Descargar</a>
          {% if perms.appGestionHospitalaria.view_paciente or user.is_superuser %}
            <a class="open-AddBookDialog btn btn-danger" data-id="{{ file.pk }}" data-toggle="modal" data-target="#myModalBorrar" style="color: #fff">Borrar</a>
          {% endif %}
        </p>
        </div>
      </div>
      {% if not forloop.last %}
      {% endif %}
    {% endfor %}

</div>
</div>
{% if perms.appGestionHospitalaria.view_paciente or user.is_superuser %}
<a class="btn btn-success" style="margin: 10px;color: #fff;" data-toggle="modal" data-target="#myModalFile">Nuevo</a>
{% endif %}
</div>

{% if perms.appGestionHospitalaria.view_paciente %}
<div class="icon-box " style="padding: 10px; margin: 25px 0px 25px 0px;">
       <a class="btn btn-primary" href="{% url 'index' %}"  style="color: #fff">Guardar</a>
</div>
{% endif %}

<!--
  <div style="margin-left:20px;margin-top:20px">
    <h4>Estudios</h4>

    
    {% for estudioItem in paciente.estudio_set.all %}
    <hr>
    <p><strong>Nombre:</strong> {{estudioItem.name}}</p>
    <p><strong>Fecha:</strong> {{estudioItem.date}}</p>
    <p><strong>Description:</strong> {{estudioItem.description}}</p>
    {% endfor %}
  </div>-->


</div>
</div>
</section>
</section>
</main>

<!-- Modals -->


<!-- Modal -->
<div class="modal fade" id="myModalEstudio" tabindex="-1" role="dialog" >
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Estudio</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <form method="POST" action="">
        {% csrf_token %}
        <div class="modal-body">
          <p>Ingrese un nuevo nombre para el estudio</p>
          <input type="text" class="form-control" name="tipo_estudio_name" value="{{ estudio.tipo.name }}" maxlength="25" required="required">
          <input type="hidden" name="estudio_id" value="{{ estudio.pk }}">
          <input type="hidden" name="option" value="tipo_estudio_name">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-success">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="myModalFile" tabindex="-1" role="dialog" >
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Adjuntos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <!-- multipart -> majenar files en django -->
      <form enctype="multipart/form-data" method="POST" action="">
        {% csrf_token %}
        <div class="modal-body">
          <!-- <input type="file" name="archivo2" required>  -->
          <input type="text" class="form-control" name="descripcion_file" placeholder="Ingrese una descripción" required>
          <p></p>
          <input type="hidden" name="option" value="descripcion_file">
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="archivo "id="archivo" required>
            <label class="custom-file-label" for="validatedCustomFile">Adjuntar un archivo</label>
            <div class="invalid-feedback">Adjunte un archivo</div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-success">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="myModalComments" tabindex="-1" role="dialog" >
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Comentarios</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <form method="post" action="">
        {% csrf_token %}
        <div class="modal-body">
          <div style="text-align: center">
            <textarea name="comments" style="width: 98%;height: 300px" >{{estudio.comments}}</textarea>
            <input type="hidden" name="option" value="comments">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-success">Guardar</button>
      </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModalDiagnostic" tabindex="-1" role="dialog" >
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Diagnóstico</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <form method="post" action="">
        {% csrf_token %}
        <div class="modal-body">
          <div style="text-align: center">
            <textarea name="diagnostic" style="width: 98%;height: 300px" >{{estudio.diagnostic}}</textarea>
            <input type="hidden" name="option" value="diagnostic">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-success" onclick="">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="myModalBorrar" tabindex="-1" role="dialog" >
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Adjunto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <form method="post" action="">
        {% csrf_token %}
        <div class="modal-body">
          <div style="text-align: center">
            <p>¿Desea borrar este archivo?</p>
          </div>
          <input type="hidden" name="estudio_file_id" id="estudio_file_id" value=""/>
          <input type="hidden" name="option" value="estudio_file">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-danger">Borrar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript">
  
  $(document).on("click", ".open-AddBookDialog", function () {
    var estudio_file_id = $(this).data('id');
    $(".modal-body #estudio_file_id").val(estudio_file_id);
  });

</script>


{% endblock %}

