{% extends "baseTemplate.html" %}
<title>{% block title %}Historias Médicas{% endblock %}</title>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
{% block content %}
<section id="hero" class="d-flex align-items-center" style="position: unset; ">
    <div class="container">
        <h1>Historia Médica</h1>
        <h2>Listado de estudios/consultas registradas</h2>
    </div>
</section>

<main id="main">
<section id="appointment" class="appointment section-bg" style="padding: 3%;">
<section id="why-us" class="why-us" style="all: inherit;padding: 0">
<div class="container" style="inline-size: fit-content; text-align: center" >
<div class="icon-boxes">
<div class="icon-box">
<div class="row">
	<div class="col" style="width: fit-content">

<div class="card card-body">
			<form method="get">
                {{myFilter.form}}

		    <button class="btn btn-primary" type="submit">Filtrar</button>
		  </form>
</div>

	</div>

</div>
</div>
<div class="icon-box">


{% if estudios %}

    <table id="table_id"  class="table table-bordered"> <!--list-group -->
    <thead>
        <tr>
            <td>Fecha</td>
            <td>Hora</td>
            <td>Especialidad</td>
            <td>Estudio</td>
            <td>Paciente</td>
            <td>Médico</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
    {% for estudio in estudios %}
        <tr>
        <td>{{estudio.turno.date|date:"d/m/y" }} </td>
        <td>{{estudio.turno.timeFrom|time:"H:i"}} </td>
        <td>{{estudio.tipo.especialidad}} </td>
        <td>{{estudio.tipo.name}} </td>
        <td>{{estudio.paciente}} </td>
        <td>{{estudio.doctor}} </td>
        <td><a class="btn btn-success" href="/historia/{{ estudio.id }}" style="alignment: center">Detalle</a></td>
        </tr>
    {% endfor %}
    </tbody>


</table>

{% else %}
<p>No existen historias médicas.</p>
{% endif %}

</div>
</div>
</div>
</section>
</section>
</main>

{% endblock %}

{% block js %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/af-2.3.0/b-1.5.2/b-colvis-1.5.2/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/cr-1.5.0/fh-3.1.4/r-2.2.2/datatables.min.css"/>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/af-2.3.0/b-1.5.2/b-colvis-1.5.2/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/cr-1.5.0/fh-3.1.4/r-2.2.2/datatables.min.js"></script>
<!-- needed to use moment.js for our date sorting-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.19/sorting/datetime-moment.js"></script>




<!-- the second way to do it to integrate our buttons for export-->

<script>
    $(document).ready( function () {

    $.fn.dataTable.moment( 'DD/MM/YY' );
    $('#table_id').DataTable({
            "order": [[ 0, "desc" ]],
            "autoWidth": false,
    responsive: true,
    columnDefs: [
    { responsivePriority: 1, targets: 0 },
    { responsivePriority: 2, targets: 1 },
    { responsivePriority: 3, targets: 2 }
    ],
    language: {
            "search":         "Buscar:",
            "lengthMenu": "Muestra _MENU_ registros por página",
            "zeroRecords": "Vacio",
            "info": "Página _PAGE_ de _PAGES_",
            "infoEmpty": "Sin registros posibles",
            "infoFiltered": "(filtrados _MAX_ registros totales)",
            "paginate": {
                            "first":      "Primero",
                            "last":       "Ultimo",
                            "next":       "Siguiente",
                            "previous":   "Anterior"
                        }
        }
    }
    );
} );
</script>

{% endblock %}