
{% extends "base.html" %}
<title>{% block title %}Sistema de Gestion{% endblock %}</title>


{% block content %}

{% if user.is_authenticated %}

        <h1>Sistema de gestion hospitalaria y turnos</h1>
        <p><strong>Cantidad de Medicos: </strong> {{num_medicos}}   <strong>Cantidad de Pacientes: </strong> {{num_pacientes}}    <strong>Cantidad de Estudios: </strong> {{num_estudios}}</p>

        <p>Para el desarrollo dejo el nombre de algunos usuarios aca</p>
        <p>Admin das123</p>
        <p>delcaño_dolar dasdas123123456</p>
        <p>medico1 dasdas123123456</p>
        

{% endif %}

{% endblock %}
