{% extends "baseTemplate.html" %}

{% block content %}

<section id="hero" class="d-flex align-items-center" style="position: unset; ">
  <div class="container">
    <h1>Doctor</h1>
    <h2>Detalles del medico.</h2>
  </div>
</section>

<main id="main">
<section id="appointment" class="appointment section-bg" style="padding: 3%;">
<section id="why-us" class="why-us" style="all: inherit;padding: 0">
<div class="container" style="inline-size: fit-content; text-align: center" >
<div class="icon-boxes">
<div class="icon-box">
  



<div class="container border" style="width: fit-content">
    <h1>Nombre: {{ doctor.user.first_name }} {{ doctor.user.last_name }}</h1>

    <p><strong>Matricula:</strong> {{ doctor.matricula }}</p>
    {% for especialidad in especialdiades %}
        <p><strong>Especialidad:</strong> {{ especialidad.name }}</p>
    {% endfor %}
    <div style="margin-left:20px;margin-top:20px">
    </div>
</div>

</div>
</div>
</div>
</section>
</section>
</main>

{% endblock %}