{% extends "baseTemplate.html" %}
<title>{% block title %}Médico{% endblock %}</title>
{% block content %}

<section id="hero" class="d-flex align-items-center" style="position: unset; ">
  <div class="container">
    <h1>Médico</h1>
    <h2>Detalles de médico</h2>
  </div>
</section>

<main id="main">
<section id="appointment" class="appointment section-bg" style="padding: 3%;">
<section id="why-us" class="why-us" style="all: inherit">
<div class="container" style=" text-align: center; padding: 1% 12%" >
<div class="icon-boxes">
<div class="icon-box" style="padding: 10px;margin: 25px 0px 25px 0px;">

    <h1><strong>{{ doctor.user.first_name }} {{ doctor.user.last_name }}</strong></h1>
    <hr>
    <p><strong>Matricula:</strong> {{ doctor.matricula }}</p>
</div>

<!--<div class="icon-box" style="padding: 10px;margin: 25px 0px 25px 0px;">

    <hr>
    {% for especialidad in especialidades %}
         <p> - {{ especialidad.name }}</p>
    {% endfor %}
</div>-->

<div class="icon-box" style="padding: 10px;margin: 25px 0px 25px 0px;">
    <h3><strong>Especialidades</strong></h3>
    <hr>
<div style="text-align: left;padding: 0% 0% 0% 7%;margin: 3%;">
    <div class="row">
        <div class="col-lg">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="id_especialidad_0"
                name="traumatologia" value="Traumatología">
                <label class="form-check-label" for="id_especialidad_0"> Traumatología </label>
            </div>
        </div>
        <div class="col-lg">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="id_especialidad_1"
                name="clinica_medica" value="Clínica médica">
                <label class="form-check-label" for="id_especialidad_1"> Clínica médica </label>
            </div>
        </div>
        <div class="col-lg">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="id_especialidad_2"
                name="cardiologia" value="Cardiología">
                <label class="form-check-label" for="id_especialidad_2"> Cardiología </label>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-lg">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="id_especialidad_3"
                name="dermatologia" value="Dermatología">
                <label class="form-check-label" for="id_especialidad_3"> Dermatología </label>
            </div>
        </div>
        <div class="col-lg">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="id_especialidad_4"
                name="oftalmologia" value="Oftalmología">
                <label class="form-check-label" for="id_especialidad_4"> Oftalmología </label>
            </div>
        </div>
        <div class="col-lg">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="id_especialidad_5"
                name="endocrinologia" value="Endocrinología">
                <label class="form-check-label" for="id_especialidad_5"> Endocrinología </label>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-lg">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="id_especialidad_6"
                name="ginecologia" value="Ginecología">
                <label class="form-check-label" for="id_especialidad_6"> Ginecología </label>
            </div>
        </div>
        <div class="col-lg">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="id_especialidad_7"
                name="obstetricia" value="Obstetricia">
                <label class="form-check-label" for="id_especialidad_7"> Obstetricia </label>
            </div>
        </div>
        <div class="col-lg">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="id_especialidad_8"
                name="psicologia" value="Psicología">
                <label class="form-check-label" for="id_especialidad_8"> Psicología </label>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-lg">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="id_especialidad_13"
                name="neumonologia" value="Neumonología">
                <label class="form-check-label" for="id_especialidad_13"> Neumonología </label>
            </div>
        </div>
        <div class="col-lg">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="id_especialidad_10"
                name="nutricion" value="Nutrición">
                <label class="form-check-label" for="id_especialidad_10"> Nutrición </label>
            </div>
        </div>
        <div class="col-lg">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="id_especialidad_11"
                name="pediatria" value="Pediatría">
                <label class="form-check-label" for="id_especialidad_11"> Pediatría </label>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-lg-4">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="id_especialidad_12"
                name="psiquiatria" value="Psiquiatría">
                <label class="form-check-label" for="id_especialidad_12"> Psiquiatría </label>
            </div>
        </div>
        <div class="col-lg-8">

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="id_especialidad_9"
                name="diagnostico_por_imagenes" value="Diagnóstico por imágenes">
                <label class="form-check-label" for="id_especialidad_9"> Diagnóstico p/imag. </label>
            </div>
        </div>
    </div>
     </div>
    <a class="btn btn-success" style="margin: 10px;color: #fff;" data-toggle="modal" data-target="#myModalEspecialidad">Guardar</a>
</div>

<div class="icon-box" style="padding: 10px;margin: 25px 0px 25px 0px;">
    <h3><strong>Jornada</strong></h3>
    <hr>
    <div style="margin: 15px">
    <table id="table_id"  class="table table-bordered"> <!--list-group -->
    <thead>
        <tr>
            <td>Dia</td>
            <td>Horario</td>
            <td>Habilitado</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Lunes</td>
            <td>
                <label for="id_Lunes_Man_Desde">Desde: </label>
                <input type="number" name="lunes_from" id="id_Lunes_Man_Desde" style="width: 45px" onkeypress="return event.charCode >= 48" min="0" max="24">
                <label for="id_Lunes_Man_Hasta"> - Hasta:</label>
                <input type="number" name="lunes_to" id="id_Lunes_Man_Hasta" style="width: 45px" onkeypress="return event.charCode >= 48" min="0" max="24">
            </td>
            <td><input type="checkbox" name="lunes" class="form-check-input" id="id_Lunes_Habilitado"></td>
        </tr>
        <tr>
            <td>Martes</td>
            <td>Desde: <input type="number" name="martes_from" id="id_Martes_Man_Desde" style="width: 45px" onkeypress="return event.charCode >= 48" min="0" max="24"> - Hasta: <input type="number" name="martes_to" id="id_Martes_Man_Hasta" style="width: 45px" onkeypress="return event.charCode >= 48" min="0" max="24"> </td>
            <td><input class="form-check-input" name="martes" type="checkbox" id="id_Martes_Habilitado"></td>
        </tr>
         <tr>
            <td>Miercoles</td>
            <td>Desde: <input type="number" name="miercoles_from" id="id_Mier_Man_Desde" style="width: 45px" onkeypress="return event.charCode >= 48" min="0" max="24"> - Hasta: <input type="number" name="miercoles_to" id="id_Mier_Man_Hasta" style="width: 45px" onkeypress="return event.charCode >= 48" min="0" max="24"> </td>
            <td><input class="form-check-input" name="miercoles" type="checkbox" id="id_Mier_Habilitado"></td>
        </tr>
        <tr>
            <td>Jueves</td>
            <td>Desde: <input type="number" name="jueves_from" id="id_Jueves_Man_Desde" style="width: 45px" onkeypress="return event.charCode >= 48" min="0" max="24"> - Hasta: <input type="number" name="jueves_to" id="id_Jueves_Man_Hasta" style="width: 45px" onkeypress="return event.charCode >= 48" min="0" max="24"></td>
            <td><input class="form-check-input" name="jueves" type="checkbox" id="id_Jueves_Habilitado"></td>
        </tr>
        <tr>
            <td>Viernes</td>
            <td>Desde: <input type="number" name="viernes_from" id="id_Viernes_Man_Desde" style="width: 45px" onkeypress="return event.charCode >= 48" min="0" max="24"> - Hasta: <input type="number" name="viernes_to" id="id_Viernes_Man_Hasta" style="width: 45px" onkeypress="return event.charCode >= 48" min="0" max="24"></td>
            <td><input class="form-check-input" name="viernes" type="checkbox" id="id_Viernes_Habilitado"></td>
        </tr>
        <tr>
            <td>Sabado</td>
            <td>Desde: <input type="number" name="sabado_from" id="id_Sab_Man_Desde" style="width: 45px" onkeypress="return event.charCode >= 48" min="0" max="24">  - Hasta: <input type="number" name="sabado_to" id="id_Sab_Man_Hasta" style="width: 45px" onkeypress="return event.charCode >= 48" min="0" max="24"></td>
            <td><input class="form-check-input" name="sabado" type="checkbox" id="id_Sab_Habilitado"></td>
        </tr>
         <tr>
            <td>Domingo</td>
            <td>Desde: <input type="number" name="domingo_from" id="id_Dom_Man_Desde" style="width: 45px" onkeypress="return event.charCode >= 48" min="0" max="24">  - Hasta: <input type="number" name="domingo_to" id="id_Dom_Man_Hasta" style="width: 45px" onkeypress="return event.charCode >= 48" min="0" max="24"></td>
            <td><input class="form-check-input" name="domingo" type="checkbox" id="id_Dom_Habilitado"></td>
        </tr>

    </tbody>
    </table>
        <a class="btn btn-success" style="margin: 10px;color: #fff;" data-toggle="modal" data-target="#myModalHorario">Guardar</a>
    </div>
</div>
</div>
</div>
</div>
</section>
</section>
</main>

    <div class="modal fade" id="myModalHorario" tabindex="-1" role="dialog" >
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Horario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
        <div class="modal-body">
          <div style="text-align: center">
            <p>¿Desea guardar el horario seleccionado?</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-success" onclick="">Guardar</button>
        </div>
    </div>
  </div>
</div>
    <div class="modal fade" id="myModalEspecialidad" tabindex="-1" role="dialog" >
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Especialidades</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
        <div class="modal-body">
          <div style="text-align: center">
              <p>¿Desea guardar las especialidades seleccionadas?</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-success" onclick="">Guardar</button>
        </div>
    </div>
  </div>
</div>


{% endblock %}