{% extends "base.html" %}
<title>{% block title %}Pacientes{% endblock %}</title>

{% block content %}
    <h1>Lista de pacientes</h1>

    {% if paciente_list %}
    <div class="list-group" style="width: fit-content; display: inline-grid">

      {% for paciente in paciente_list %}
            <a class="list-group-item list-group-item-action" href="/paciente/{{ paciente.id }}">{{ paciente.first_name }} {{paciente.last_name}} ({{paciente.dni}})</a>
      {% endfor %}

    </div>
    {% else %}
      <p>No existen pacientes.</p>
    {% endif %}
{% endblock %}