{% extends "baseTemplate.html" %}
<title>{% block title %}Paciente{% endblock %}</title>
{% block content %}

<section id="hero" class="d-flex align-items-center" style="position: unset; ">
  <div class="container">
    <h1>Paciente</h1>
    <h2>Detalles de paciente</h2>
  </div>
</section>

<main id="main">
<section id="appointment" class="appointment section-bg" style="padding: 3%;">
<section id="why-us" class="why-us" style="all: inherit;padding: 0">
<div class="container" style="inline-size: fit-content; text-align: center" >
<div class="icon-boxes">
<div class="icon-box">
  



<div class="container border" style="width: fit-content" >
  <h1>Nombre: {{ paciente.user.first_name }} {{ paciente.user.last_name }}</h1>

  <p><strong>Dni:</strong> {{ paciente.dni }}</p>
  <p><strong>Fecha de Nacimiento:</strong> {{ paciente.date_of_birth }}</p>
  <!--
<p><strong>Obra Social:</strong> {% for genre in paciente.obra_social.all %} {{ obra_social }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
  -->
  <p> <strong>Obra Social:</strong> {{ paciente.obra_social.name }} </p>
  <p><strong>Telefono:</strong> {{ paciente.phone_number }}</p>

<!--
  <div style="margin-left:20px;margin-top:20px">
    <h4>Estudios</h4>

    
    {% for estudioItem in paciente.estudio_set.all %}
    <hr>
    <p><strong>Nombre:</strong> {{estudioItem.name}}</p>
    <p><strong>Fecha:</strong> {{estudioItem.date}}</p>
    <p><strong>Description:</strong> {{estudioItem.description}}</p>
    {% endfor %}
  </div>-->
</div>

</div>
</div>
</div>
</section>
</section>
</main>

{% endblock %}