{% extends "baseTemplate.html" %}
<title>{% block title %}Registro{% endblock %}</title>


{% block content %}

<head>
    <style>
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        
        /* Firefox */
        input[type=number] {
          -moz-appearance: textfield;
        }
        </style>
</head>

<section id="hero" class="d-flex align-items-center" style="position: unset; ">
    <div class="container">
      <h1>Registro de Medico</h1>
      <h2>Ingrese los datos correspondientes al nuevo profesional.</h2>
    </div>
</section>

<!--<main id="main">
<section id="hero" class="d-flex " style="margin-bottom: -100px; position: unset;">


<section id="why-us" class="why-us" style="all: inherit; margin-top: 8%;">

<div class="container"  style="alignment: center; inline-size: fit-content; padding-bottom: 100px" >
  <div class="icon-boxes">

  <div class="icon-box">
-->
<main id="main">
<section id="appointment" class="appointment section-bg" style="padding: 3%;">
<section id="why-us" class="why-us" style="all: inherit;padding: 0">
<div class="container" style="text-align: center; padding: 1% 15%" >
<div class="icon-boxes">
<div class="icon-box">


<form method="post" action="/signup/medico/" > <!-- class="php-email-form"  class="FormButton"-->
    {% csrf_token %}
        <div class="section-title" style="padding-bottom: 0;">
          <h2>Datos de usuario</h2>
        </div>
    <div class="form-group">
        <!--<label for="id_username">Usuario:</label>-->
        <input type="text" placeholder="Usuario" class="form-control" name="username" maxlength="150" autofocus="" required="" id="id_username">
    </div>
    <div class="form-group">
        <input type="password" placeholder="Contraseña" class="form-control" name="password1" autocomplete="new-password" required="" id="id_password1">
    </div>
    <small id="passwordHelpBlock" class="form-text text-muted" style="text-align: left">
        <ul>
            <li>Your password can’t be too similar to your other personal information.</li>
            <li>Your password must contain at least 8 characters.</li>
            <li>Your password can’t be a commonly used password.</li>
            <li>Your password can’t be entirely numeric.</li>
        </ul>
    </small>
    <div class="form-group">
        <input type="password" placeholder="Confirmación de contraseña" class="form-control" name="password2" autocomplete="new-password" required="" id="id_password2">
    </div>
    <div class="section-title" style="padding-bottom: 0;">
          <h2>Datos personales</h2>
    </div>
    <div class="form-group">
            <input type="text" placeholder="Nombre" class="form-control" name="first_name" maxlength="30" id="id_first_name">
    </div>
    <div class="form-group">
        <input type="text"  placeholder="Apellido" Apellido="" class="form-control" name="last_name" maxlength="30" id="id_last_name">
    </div>
    <div class="form-group">
        <input type="email" class="form-control" placeholder="Email" name="email" maxlength="30" required="" id="id_email">
    </div>
    <div class="form-group">
        <input type="text" placeholder="Matricula" class="form-control" name="matricula" autofocus="" autocapitalize="none" maxlength="30" required="" id="id_matricula">
    </div>

    {% if especialidades %}
            <!-- <div class="form-group">
                <label for="id_especialidades">Seleccionar especialidad</label>
                <select class="form-control" id="id_especialidad" name="especialidad" required="">
                <option value="" selected disabled hidden>Elija una especialidad</option>
                {% for especialidad in especialidades %}
                    <option> {{ especialidad.name }} </option>
                {% endfor %}

                </select>
            </div> -->
        <div style="margin: 15px">
            <div class="section-title" style="padding-bottom: 0;">
          <h2>Especialidades</h2>
            </div>
        </div>
        <p>Ingrese las especialidades del médico</p>
        <!-- 
        {% for especialidad in especialidades %}
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="id_especialidad_{{forloop.counter0}}" 
                name="especialidad" value="{{ especialidad.name }}">
                <label class="form-check-label" for="id_especialidad_{{forloop.counter0}}"> {{ especialidad.name }} </label>
            </div>
        {% endfor %}
  -->

    <div style="margin: 15px">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="id_especialidad_0"
            name="traumatologia" value="Traumatología">
            <label class="form-check-label" for="id_especialidad_0"> Traumatología </label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="id_especialidad_1"
            name="clinica_medica" value="Clínica médica">
            <label class="form-check-label" for="id_especialidad_1"> Clínica médica </label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="id_especialidad_2"
            name="cardiologia" value="Cardiología">
            <label class="form-check-label" for="id_especialidad_2"> Cardiología </label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="id_especialidad_3"
            name="dermatologia" value="Dermatología">
            <label class="form-check-label" for="id_especialidad_3"> Dermatología </label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="id_especialidad_4"
            name="oftalmologia" value="Oftalmología">
            <label class="form-check-label" for="id_especialidad_4"> Oftalmología </label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="id_especialidad_5"
            name="endocrinologia" value="Endocrinología">
            <label class="form-check-label" for="id_especialidad_5"> Endocrinología </label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="id_especialidad_6"
            name="ginecologia" value="Ginecología">
            <label class="form-check-label" for="id_especialidad_6"> Ginecología </label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="id_especialidad_7"
            name="obstetricia" value="Obstetricia">
            <label class="form-check-label" for="id_especialidad_7"> Obstetricia </label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="id_especialidad_8"
            name="psicologia" value="Psicología">
            <label class="form-check-label" for="id_especialidad_8"> Psicología </label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="id_especialidad_9"
            name="diagnostico_por_imagenes" value="Diagnóstico por imágenes">
            <label class="form-check-label" for="id_especialidad_9"> Diagnóstico por imágenes </label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="id_especialidad_10"
            name="nutricion" value="Nutrición">
            <label class="form-check-label" for="id_especialidad_10"> Nutrición </label>
        </div>


        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="id_especialidad_11"
            name="pediatria" value="Pediatría">
            <label class="form-check-label" for="id_especialidad_11"> Pediatría </label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="id_especialidad_12"
            name="psiquiatria" value="Psiquiatría">
            <label class="form-check-label" for="id_especialidad_12"> Psiquiatría </label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="id_especialidad_13"
            name="neumonologia" value="Neumonología">
            <label class="form-check-label" for="id_especialidad_13"> Neumonología </label>
        </div>
    </div>
        
    {% else %}
        <small id="obra_socialHelpBlock" class="form-text text-muted">
            <ul>
                <li>No existen especialidades actualmente</li>
            </ul>
        </small>
    {% endif %}
    <div style="margin: 15px">
            <div class="section-title" style="padding-bottom: 0;">
          <h2>Horario</h2>
    </div>
    </div>
        <p>Ingrese horarios de disponibilidad</p>
    <div style="margin: 15px">
    <table id="table_id"  class="table table-bordered"> <!--list-group -->
    <thead>
        <tr>
            <td>Dia</td>
            <td>Horario Mañana</td>
            <td>Horario Tarde</td>
            <td>Habilitado</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Lunes</td>
            <td>Desde: <input type="number" id="id_Lunes_Man_Desde" style="width: 45px" onkeypress="return event.charCode >= 48" min="1" max="12"> AM - Hasta: <input type="number" id="id_Lunes_Man_Hasta" style="width: 45px" onkeypress="return event.charCode >= 48" min="1" max="12"> AM</td>
            <td>Desde: <input type="number" id="id_Lunes_Tar_Desde" style="width: 45px" onkeypress="return event.charCode >= 48" min="1" max="12"> PM - Hasta: <input type="number" id="id_Lunes_Tar_Hasta" style="width: 45px" onkeypress="return event.charCode >= 48" min="1" max="12"> PM</td>
            <td><input class="form-check-input" type="checkbox" id="id_Lunes_Habilitado"></td>
        </tr>
         <tr>
            <td>Martes</td>
             <td>Desde: <input type="number" id="id_Martes_Man_Desde" style="width: 45px" onkeypress="return event.charCode >= 48" min="1" max="12"> AM - Hasta: <input type="number" id="id_Martes_Man_Hasta" style="width: 45px" onkeypress="return event.charCode >= 48" min="1" max="12"> AM</td>
            <td>Desde: <input type="number" id="id_Martes_Tar_Desde" style="width: 45px" onkeypress="return event.charCode >= 48" min="1" max="12"> PM - Hasta: <input type="number" id="id_Martes_Tar_Hasta" style="width: 45px" onkeypress="return event.charCode >= 48" min="1" max="12"> PM</td>
            <td><input class="form-check-input" type="checkbox" id="id_Martes_Habilitado"></td>
        </tr>
         <tr>
            <td>Miercoles</td>
             <td>Desde: <input type="number" id="id_Mier_Man_Desde" style="width: 45px" onkeypress="return event.charCode >= 48" min="1" max="12"> AM - Hasta: <input type="number" id="id_Mier_Man_Hasta" style="width: 45px" onkeypress="return event.charCode >= 48" min="1" max="12"> AM</td>
            <td>Desde: <input type="number" id="id_Mier_Tar_Desde" style="width: 45px" onkeypress="return event.charCode >= 48" min="1" max="12"> PM - Hasta: <input type="number" id="id_Mier_Tar_Hasta" style="width: 45px" onkeypress="return event.charCode >= 48" min="1" max="12"> PM</td>
            <td><input class="form-check-input" type="checkbox" id="id_Mier_Habilitado"></td>
        </tr>
        <tr>
            <td>Jueves</td>
            <td>Desde: <input type="number" id="id_Jueves_Man_Desde" style="width: 45px" onkeypress="return event.charCode >= 48" min="1" max="12"> AM - Hasta: <input type="number" id="id_Jueves_Man_Hasta" style="width: 45px" onkeypress="return event.charCode >= 48" min="1" max="12"> AM</td>
            <td>Desde: <input type="number" id="id_Jueves_Tar_Desde" style="width: 45px" onkeypress="return event.charCode >= 48" min="1" max="12"> PM - Hasta: <input type="number" id="id_Jueves_Tar_Hasta" style="width: 45px" onkeypress="return event.charCode >= 48" min="1" max="12"> PM</td>
            <td><input class="form-check-input" type="checkbox" id="id_Jueves_Habilitado"></td>
        </tr>
        <tr>
            <td>Viernes</td>
            <td>Desde: <input type="number" id="id_Viernes_Man_Desde" style="width: 45px" onkeypress="return event.charCode >= 48" min="1" max="12"> AM - Hasta: <input type="number" id="id_Viernes_Man_Hasta" style="width: 45px" onkeypress="return event.charCode >= 48" min="1" max="12"> AM</td>
            <td>Desde: <input type="number" id="id_Viernes_Tar_Desde" style="width: 45px" onkeypress="return event.charCode >= 48" min="1" max="12"> PM - Hasta: <input type="number" id="id_Viernes_Tar_Hasta" style="width: 45px" onkeypress="return event.charCode >= 48" min="1" max="12"> PM</td>
            <td><input class="form-check-input" type="checkbox" id="id_Viernes_Habilitado"></td>
        </tr>
        <tr>
            <td>Sabado</td>
            <td>Desde: <input type="number" id="id_Sab_Man_Desde" style="width: 45px" onkeypress="return event.charCode >= 48" min="1" max="12"> AM - Hasta: <input type="number" id="id_Sab_Man_Hasta" style="width: 45px" onkeypress="return event.charCode >= 48" min="1" max="12"> AM</td>
            <td>Desde: <input type="number" id="id_Sab_Tar_Desde" style="width: 45px" onkeypress="return event.charCode >= 48" min="1" max="12"> PM - Hasta: <input type="number" id="id_Sab_Tar_Hasta" style="width: 45px" onkeypress="return event.charCode >= 48" min="1" max="12"> PM</td>
            <td><input class="form-check-input" type="checkbox" id="id_Sab_Habilitado"></td>
        </tr>
         <tr>
            <td>Domingo</td>
             <td>Desde: <input type="number" id="id_Dom_Man_Desde" style="width: 45px" onkeypress="return event.charCode >= 48" min="1" max="12"> AM - Hasta: <input type="number" id="id_Dom_Man_Hasta" style="width: 45px" onkeypress="return event.charCode >= 48" min="1" max="12"> AM</td>
            <td>Desde: <input type="number" id="id_Dom_Tar_Desde" style="width: 45px" onkeypress="return event.charCode >= 48" min="1" max="12"> PM - Hasta: <input type="number" id="id_Dom_Tar_Hasta" style="width: 45px" onkeypress="return event.charCode >= 48" min="1" max="12"> PM</td>
            <td><input class="form-check-input" type="checkbox" id="id_Dom_Habilitado"></td>
        </tr>

    </tbody>
    </table>
    </div>
    <div class="text-center"><button type="submit" style="background: #1977cc; border: 0; padding: 10px 35px; color: #fff; transition: 0.4s; border-radius: 50px; " onmouseover="this.style.backgroundColor='#1c84e3'" onmouseout="this.style.backgroundColor='#1977cc'">Registrar</button></div>
</form>
<!--<div class="text-center"></div>-->
  <!--la otra form
  <p>OTRO FORM</p>
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Sign up</button>
  </form>
  -->

 <!-- </div>
   </div>
</div>
</section>-->
</div>
</div>
 </div>
</section>
</section>
</main>
{% endblock %}
