{% extends 'baseTemplate.html' %}
<title>{% block title %}Registro{% endblock %}</title>

{% block content %}

<!-- acaa -->


<section id="hero" class="d-flex align-items-center" style="position: unset; ">
    <div class="container">
      <h1>Registro de Paciente</h1>
      <h2>Ingrese los datos correspondientes al nuevo paciente.</h2>
    </div>
</section>

<main id="main">
<section id="appointment" class="appointment section-bg" style="padding: 3%;">
<section id="why-us" class="why-us" style="all: inherit;padding: 0">
<div class="container" style=" text-align: center;padding: 1% 15%" >
<div class="icon-boxes">
<div class="icon-box">

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

{% if form_paciente.errors %}
    <!-- Este da el generico
         {% for field in form_paciente %}
        {% for error in field.errors %}
            <div class="alert alert-danger">1
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %} -->
    {% for error in form_paciente.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

<form method="POST" id="form" action="/signup/paciente/" onsubmit="event.preventDefault(); validate_form();">  <!--class="php-email-form" class="FormButton"-->
    {% csrf_token %}
    <div class="section-title" style="padding-bottom: 0;">
          <h2>Datos de usuario</h2>
    </div>
    <div class="form-group">
        <input type="text" placeholder="Usuario" minlength="6" class="form-control" name="username" maxlength="150" autofocus="" required="" id="id_username" onchange="validate_username()">
    </div>
    <div id="username_error_tomado" class="alert alert-warning" role="alert" style="display: none;">
        El nombre de usuario ya esta tomado.
    </div>
    <div id="username_error_corto" class="alert alert-warning" role="alert" style="display: none;">
        El nombre de usuario debe contener al menos 6 carácteres.
    </div>
    <div class="form-group">
        <input type="password" placeholder="Contraseña" class="form-control" name="password1" autocomplete="new-password" required="" id="id_password1" onchange="validate_pass()">
    </div>
    <!-- <small id="passwordHelpBlock" class="form-text text-muted" style="text-align: left">
        <ul>
            <li>Your password can’t be too similar to your other personal information.</li>
            <li>Your password must contain at least 8 characters.</li>
            <li>Your password can’t be a commonly used password.</li>
            <li>Your password can’t be entirely numeric.</li>
        </ul>
    </small> -->
    <div class="form-group">
        <input type="password" placeholder="Confirmación de contraseña" class="form-control" name="password2" autocomplete="new-password" required="" id="id_password2" onchange="validate_pass()">
    </div>
    <div id="password_error_match" class="alert alert-warning" role="alert" style="display: none;">
        Las contraseñas no coinciden.
    </div>
    <div id="password_error_format" class="alert alert-warning" role="alert" style="display: none;">
        La contraseña debe contener al menos 8 carácteres y no puede ser enteramente numérica.
    </div>
    <div class="section-title" style="padding-bottom: 0;">
          <h2>Datos personales</h2>
    </div>
    <div class="form-group">
        <input type="text" placeholder="Nombre" class="form-control" name="first_name" maxlength="30" id="id_first_name">
    </div>
    <div class="form-group">
        <input type="text" placeholder="Apellido" class="form-control" name="last_name" maxlength="30" id="id_last_name">
    </div>
    <div class="form-group">
        <input type="text" placeholder="Numero de telefono" class="form-control" name="phone_number" maxlength="30" id="id_phone_number" onchange="validate_telefono()">
    </div>
    <div id="telefono_error_invalido" class="alert alert-warning" role="alert" style="display: none;">
        Ingrese un número de teléfono válido.
    </div>
    <div class="form-group">
        <input type="text" placeholder="DNI" class="form-control" name="dni" maxlength="8" minlength="8" id="id_dni" required="" onchange="validate_dni()">
    </div>
    <div id="dni_error_invalido" class="alert alert-warning" role="alert" style="display: none;">
        Ingrese un número de DNI válido.
    </div>
    <div id="dni_error_tomado" class="alert alert-warning" role="alert" style="display: none;">
        El DNI ingresado ya existe, ingrese otro.
    </div>
    {% if obras_sociales %}
    <div class="form-group">
        <label for="id_obras_sociales">Seleccionar Obra social</label>
        <select class="form-control" id="id_obras_sociales" name="obra_social" required="">
        <option value="" selected disabled hidden>Elija una obra social</option>
            {% for obra_social in obras_sociales %}
                <option> {{ obra_social.name }} </option>
            {% endfor %}
        </select>
    </div>
    {% else %} 
    <small id="especialidadHelpBlock" class="form-text text-muted">
        <ul>
            <li>No existen obras sociales actualmente</li>
        </ul>
    </small>
    {% endif %}
    <div class="form-group">
        <label for="id_date_of_birth">Fecha de nacimiento</label>
        <input class="form-control" type="date" name="date_of_birth" value="1990-01-01" id="id_date_of_birth">
    </div>
    <div class="form-group">
        <input type="email" class="form-control" placeholder="Email" name="email" maxlength="254"
            required="" id="id_email">
    </div>
    
    <button type="submit" style="background: #1977cc; border: 0; padding: 10px 35px; color: #fff; transition: 0.4s; border-radius: 50px; " onmouseover="this.style.backgroundColor='#1c84e3'" onmouseout="this.style.backgroundColor='#1977cc'">Registrarse</button>
</form>


</div>
</div>
 </div>
</section>
</section>
</main>
{% endblock %}



{% block js %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

{{ usuarios_username|json_script:"usuarios_username" }}
{{ pacientes_dni|json_script:"pacientes_dni" }}

<script>

validate_username = () => {
    let username_is_valid = false;
    const usuarios_username = JSON.parse(document.getElementById("usuarios_username").textContent);
    let username = document.getElementById("id_username");

    if (username.value.length <= 6){
        username.classList.remove("is-valid");
        username.classList.add("is-invalid");
        document.getElementById("username_error_corto").style.display = "block";
        document.getElementById("username_error_tomado").style.display = "none";
        return false;
    } else {
        document.getElementById("username_error_corto").style.display = "none";
    }

    if (usuarios_username.includes(username.value)){
        // username ya tomado
        username.classList.remove("is-valid");
        username.classList.add("is-invalid");
        document.getElementById("username_error_tomado").style.display = "block";
        return false;
    } else {
        // username disponible
        username.classList.remove("is-invalid");
        username.classList.add("is-valid");
        document.getElementById("username_error_tomado").style.display = "none";
        return true;
    }

}

has_a_number = (element) => {
    var matches = element.value.match(/\d+/g);
    if (matches != null) {
        return true;
    } else {
        return false;
    }
}

validate_pass = () => {
    let pass1 = document.getElementById("id_password1");
    let pass2 = document.getElementById("id_password2");
    if ((pass1.value == '') || (pass2.value == '')) {
        pass1.classList.remove("is-invalid");
        pass2.classList.remove("is-invalid");
        pass1.classList.remove("is-valid");
        pass2.classList.remove("is-valid");
        document.getElementById("password_error_format").style.display = "none";   
        document.getElementById("password_error_match").style.display = "none";   
        return;
    }
    
    let form_is_valid = false;

    let match = pass1.value == pass2.value;
    if (match) {    
        document.getElementById("password_error_match").style.display = "none";    
        if (has_a_number(pass1) && (isNaN(pass1)) && (pass1.value.length >= 8) ) {
            document.getElementById("password_error_format").style.display = "none";    
            form_is_valid = true;
        } else {
            document.getElementById("password_error_format").style.display = "block";   
        }
    } else {
        document.getElementById("password_error_match").style.display = "block";  
    }

    if (form_is_valid) {
        pass1.classList.remove("is-invalid");
        pass2.classList.remove("is-invalid");
        pass1.classList.add("is-valid");
        pass2.classList.add("is-valid");
        return true;
    } else {
        pass1.classList.remove("is-valid");
        pass2.classList.remove("is-valid");
        pass1.classList.add("is-invalid");
        pass2.classList.add("is-invalid");
        return false;
    }

}

validate_telefono = () => {
    let element = document.getElementById("id_phone_number");
    if (!isNaN(element.value) && (element.value != "")) {
        element.classList.remove("is-invalid");
        element.classList.add("is-valid");
        document.getElementById("telefono_error_invalido").style.display = "none";
        return true;
    } else {
        element.classList.remove("is-valid");
        element.classList.add("is-invalid");
        document.getElementById("telefono_error_invalido").style.display = "block";
        return false;
    }
}

validate_dni = () => {
    let element = document.getElementById("id_dni");

    if (element.value == '') {
        element.classList.remove("is-invalid");
        element.classList.remove("is-valid");
        document.getElementById("dni_error_invalido").style.display = "none";
        return false;
    }

    const pacientes_dni = JSON.parse(document.getElementById("pacientes_dni").textContent);
    // include no anda aca asi que veo manual

    for (i = 0, len = pacientes_dni.length; i < len; i++) {
        if (pacientes_dni[i] == element.value){
            document.getElementById("dni_error_tomado").style.display = "block"; 
            element.classList.remove("is-valid");
            element.classList.add("is-invalid");
            return false;
        } else{
            document.getElementById("dni_error_tomado").style.display = "none";
        }
    } 
    
    // if ((!isNaN(element.value)) && (element.value.length = 8)){
    if ((!isNaN(element.value)) && (element.value.length == 8)){
        element.classList.remove("is-invalid");
        element.classList.add("is-valid");
        document.getElementById("dni_error_invalido").style.display = "none";
        return true;
    } else {
        element.classList.remove("is-valid");
        element.classList.add("is-invalid");
        document.getElementById("dni_error_invalido").style.display = "block";
        return false;
    }
}

validate_form = () => {
    if ((validate_pass()) && (validate_dni()) && (validate_telefono()) && (validate_username()) ) {
        document.getElementById("form").submit(); 
    }
}

</script>
   

{% endblock %}