{% extends "baseTemplate.html" %}
<title>{% block title %}Registro{% endblock %}</title>


{% block content %}

<!-- Elimina las flechas de los campos number -->
<head>
    <style>
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        
        /* Firefox */
        input[type=number] {
          -moz-appearance: textfield;
        }
        </style>
</head>

<section id="hero" class="d-flex align-items-center" style="position: unset; ">
    <div class="container">
      <h1>Registro de Medico</h1>
      <h2>Ingrese los datos correspondientes al nuevo profesional.</h2>
    </div>
</section>

<!--<main id="main">
<section id="hero" class="d-flex " style="margin-bottom: -100px; position: unset;">


<section id="why-us" class="why-us" style="all: inherit; margin-top: 8%;">

<div class="container"  style="alignment: center; inline-size: fit-content; padding-bottom: 100px" >
  <div class="icon-boxes">

  <div class="icon-box">
-->
<main id="main">
<section id="appointment" class="appointment section-bg" style="padding: 3%;">
<section id="why-us" class="why-us" style="all: inherit;padding: 0">
<div class="container" style="text-align: center; padding: 1% 14%" >
<div class="icon-boxes">
<div class="icon-box">


{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

<form method="post" id="form" action="/signup/medico/" onsubmit="event.preventDefault(); validate_form();"> <!-- class="php-email-form"  class="FormButton"-->
    {% csrf_token %}
        <div class="section-title" style="padding-bottom: 0;">
          <h2>Datos de usuario</h2>
        </div>
    <div class="form-group">
        <!--<label for="id_username">Usuario:</label>-->
        <input type="text" placeholder="Usuario" class="form-control" name="username" maxlength="150" autofocus="" required="" id="id_username">
    </div>
    
    <div class="form-group">
        <input type="password" placeholder="Contraseña" class="form-control" name="password1" autocomplete="new-password" required="" id="id_password1" onchange="validate_pass()">
    </div>
    <div class="invalid-feedback">
        Las contraseñas son distintas
    </div>
    <small id="passwordHelpBlock" class="form-text text-muted" style="text-align: left">
        <ul>
            <li>La contraseña debe contener almenos 8 caracteres</li>
            <li>La contraseña no puede ser enteramente numerica</li>

        </ul>
    </small>
    <div class="form-group">
        <input type="password" placeholder="Confirmación de contraseña" class="form-control" name="password2" autocomplete="new-password" required="" id="id_password2" onchange="validate_pass()">
    </div>
    <div class="section-title" style="padding-bottom: 0;">
          <h2>Datos personales</h2>
    </div>
    <div class="form-group">
            <input type="text" placeholder="Nombre" class="form-control" name="first_name" maxlength="30" id="id_first_name" required="">
    </div>
    <div class="form-group">
        <input type="text"  placeholder="Apellido" Apellido="" class="form-control" name="last_name" maxlength="30" id="id_last_name" required="">
    </div>
    <div class="form-group">
        <input type="email" class="form-control" placeholder="Email" name="email" maxlength="30" required="" id="id_email">
    </div>
    <div class="form-group">
        <input type="text" placeholder="Matricula" class="form-control" name="matricula" autofocus="" autocapitalize="none" maxlength="30" required="" id="id_matricula">
    </div>

    {% if especialidades %}
            <!-- <div class="form-group">
                <label for="id_especialidades">Seleccionar especialidad</label>
                <select class="form-control" id="id_especialidad" name="especialidad" required="">
                <option value="" selected disabled hidden>Elija una especialidad</option>
                {% for especialidad in especialidades %}
                    <option> {{ especialidad.name }} </option>
                {% endfor %}

                </select>
            </div> -->
        <div style="margin: 15px">
            <div class="section-title" style="padding-bottom: 0;">
          <h2>Especialidades</h2>
            </div>
        </div>
        <p>Ingrese las especialidades del médico</p>
    <div style="text-align: left;padding: 0% 0% 0% 7%;margin: 3%;">
    <div class="row">
        <div class="col-lg">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="id_especialidad_0"
                name="traumatologia" value="Traumatología">
                <label class="form-check-label" for="id_especialidad_0"> Traumatología </label>
            </div>
        </div>
        <div class="col-lg">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="id_especialidad_1"
                name="clinica_medica" value="Clínica médica">
                <label class="form-check-label" for="id_especialidad_1"> Clínica médica </label>
            </div>
        </div>
        <div class="col-lg">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="id_especialidad_2"
                name="cardiologia" value="Cardiología">
                <label class="form-check-label" for="id_especialidad_2"> Cardiología </label>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-lg">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="id_especialidad_3"
                name="dermatologia" value="Dermatología">
                <label class="form-check-label" for="id_especialidad_3"> Dermatología </label>
            </div>
        </div>
        <div class="col-lg">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="id_especialidad_4"
                name="oftalmologia" value="Oftalmología">
                <label class="form-check-label" for="id_especialidad_4"> Oftalmología </label>
            </div>
        </div>
        <div class="col-lg">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="id_especialidad_5"
                name="endocrinologia" value="Endocrinología">
                <label class="form-check-label" for="id_especialidad_5"> Endocrinología </label>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-lg">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="id_especialidad_6"
                name="ginecologia" value="Ginecología">
                <label class="form-check-label" for="id_especialidad_6"> Ginecología </label>
            </div>
        </div>
        <div class="col-lg">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="id_especialidad_7"
                name="obstetricia" value="Obstetricia">
                <label class="form-check-label" for="id_especialidad_7"> Obstetricia </label>
            </div>
        </div>
        <div class="col-lg">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="id_especialidad_8"
                name="psicologia" value="Psicología">
                <label class="form-check-label" for="id_especialidad_8"> Psicología </label>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-lg">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="id_especialidad_13"
                name="neumonologia" value="Neumonología">
                <label class="form-check-label" for="id_especialidad_13"> Neumonología </label>
            </div>
        </div>
        <div class="col-lg">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="id_especialidad_10"
                name="nutricion" value="Nutrición">
                <label class="form-check-label" for="id_especialidad_10"> Nutrición </label>
            </div>
        </div>
        <div class="col-lg">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="id_especialidad_11"
                name="pediatria" value="Pediatría">
                <label class="form-check-label" for="id_especialidad_11"> Pediatría </label>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-lg-4">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="id_especialidad_12"
                name="psiquiatria" value="Psiquiatría">
                <label class="form-check-label" for="id_especialidad_12"> Psiquiatría </label>
            </div>
        </div>
        <div class="col-lg-8">

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="id_especialidad_9"
                name="diagnostico_por_imagenes" value="Diagnóstico por imágenes">
                <label class="form-check-label" for="id_especialidad_9"> Diagnóstico p/imag. </label>
            </div>
        </div>
    </div>
     </div>
    {% else %}
        <small id="obra_socialHelpBlock" class="form-text text-muted">
            <ul>
                <li>No existen especialidades actualmente</li>
            </ul>
        </small>
    {% endif %}
    <div class="text-center">
        <button style="background: #1977cc; border: 0; padding: 10px 35px; color: #fff; transition: 0.4s; border-radius: 50px; " onmouseover="this.style.backgroundColor='#1c84e3'" onmouseout="this.style.backgroundColor='#1977cc'" onclick="history.back()">Volver</button>
        <button type="submit" style="background: #1977cc; border: 0; padding: 10px 35px; color: #fff; transition: 0.4s; border-radius: 50px; " onmouseover="this.style.backgroundColor='#1c84e3'" onmouseout="this.style.backgroundColor='#1977cc'">Siguiente</button>
    
    <!-- <button onclick="validate_form()" style="background: #1977cc; border: 0; padding: 10px 35px; color: #fff; transition: 0.4s; border-radius: 50px; " onmouseover="this.style.backgroundColor='#1c84e3'" onmouseout="this.style.backgroundColor='#1977cc'">Siguiente</button>
     -->
    </div>
    
</form>
</div>
</div>
</div>
</section>
</section>
</main>
{% endblock %}

{% block js %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>

has_a_number = (element) => {
    var matches = element.value.match(/\d+/g);
    if (matches != null) {
        return true;
    } else {
        return false;
    }
}

validate_pass = () => {
    let pass1 = document.getElementById('id_password1');
    let pass2 = document.getElementById('id_password2');
    if ((pass1.value == '') || (pass2.value == '')) {
        pass1.classList.remove("is-invalid");
        pass2.classList.remove("is-invalid");
        pass1.classList.remove("is-valid");
        pass2.classList.remove("is-valid");
        return;
    }
    
    let form_is_valid = false;

    let match = pass1.value == pass2.value;
    if (match) {    
        if (has_a_number(pass1) && (isNaN(pass1))) {
            if (pass1.value.length >= 8){
                form_is_valid = true;
            } 
        } 
    } 

    if (form_is_valid) {
        pass1.classList.remove("is-invalid");
        pass2.classList.remove("is-invalid");
        pass1.classList.add("is-valid");
        pass2.classList.add("is-valid");
        return true;
    } else {
        pass1.classList.remove("is-valid");
        pass2.classList.remove("is-valid");
        pass1.classList.add("is-invalid");
        pass2.classList.add("is-invalid");
        return false;
    }

}

// validate_number = (element) => {
//     if (!isNaN(element.value)){
//         print('hay letras')
//     }
// }

validate_form = () => {
    is_pass_valid = validate_pass();
    if (is_pass_valid) {
        document.getElementById("form").submit(); 
    }
}


</script>
   
{% endblock %}