{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}

  <h2>Registrarse</h2>
  <p></p>
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="id_username">Usuario:</label> 
      <input type="text" class="form-control" name="username" maxlength="150" autofocus="" required="" id="id_username"> 
    </div>
    <div class="form-group">
      <label for="id_first_name">Nombre:</label> 
      <input type="text" class="form-control" name="first_name" maxlength="30" id="id_first_name"> 
    </div>
    <div class="form-group">
      <label for="id_last_name">Apellido:</label> 
      <input type="text" class="form-control" name="last_name" maxlength="30" id="id_last_name"> 
    </div>  
    <div class="form-group">
      <label for="id_email">Email:</label> 
      <input type="email" class="form-control" placeholder="nombre@ejemplo.com" name="email" maxlength="254" required="" id="id_email">
    </div>
    <div class="form-group">
      <label for="id_password1">Contraseña:</label> 
      <input type="password" class="form-control" name="password1" autocomplete="new-password" required="" id="id_password1"> 
    </div>
    <small id="passwordHelpBlock" class="form-text text-muted">
      <ul>
        <li>Your password can’t be too similar to your other personal information.</li>
        <li>Your password must contain at least 8 characters.</li>
        <li>Your password can’t be a commonly used password.</li>
        <li>Your password can’t be entirely numeric.</li>
      </ul>
    </small>
    <div class="form-group">
      <label for="id_password2">Confirmación de contraseña:</label> 
      <input type="password" class="form-control" name="password2" autocomplete="new-password" required="" id="id_password2"> 
    </div>

    <button type="submit" class="btn btn-outline-primary">Iniciar sesión</button>
  </form>
  
{% endif %} 
{% endblock %}
