
{% extends "baseTemplate.html" %}
<title>{% block title %}Login{% endblock %}</title>
{% block sidebar %} {% endblock %}

{% block content %}

  <!-- <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <h1>Login</h1>
      <h2></h2>
      <a href="#about" class="btn-get-started scrollto"></a>
    </div>
  </section> --> <!-- End Hero -->

<main id="main">
<section id="hero" class="d-flex align-items-center" style="margin-bottom: -100px; position: unset;">


<section id="why-us" class="why-us" style="all: inherit">
<!--<div class="col-lg-8 d-flex align-items-stretch">-->
<div class="container"  style="alignment: center; inline-size: fit-content; padding-bottom: 100px" >
  <div class="icon-boxes">

  <div class="icon-box">
    <div style="padding-bottom: 8%;">
    <h2><b>Ingrese Sus Datos:</b></h2>
    </div>
  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <!---
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
  --->
  {% if not user.is_authenticated %}

  <form method="post" action="{% url 'login' %}"  >
    {% csrf_token %}
    <div class="form-group">
     <!-- <label for="id_username">Usuario</label>-->
      <input type="text" class="form-control" name="username" placeholder="Usuario" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">
    </div>
    <div class="form-group">
     <!-- <label for="id_password">Contraseña</label>-->
      <input type="password" class="form-control" name="password" placeholder="Contraseña" autocomplete="current-password" required="" id="id_password">
    </div>
    <div class="text-center"><button type="submit" class="btn btn-outline-primary" style="border-radius: 50px; margin-bottom: 5%">Iniciar sesión</button></div>
  </form>

  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a></p>

  {% endif %}
  </div>
   </div>
</div>
</section>
</section>
</main>
{% endblock %}
